<%- include("../includes/header.ejs", {title:"Account - " + account.email}); %>
<h1>Account</h1>
<ul>
    <li>Email Address: <%= account.email %></li>
    <li>First Name: <%= account.first_name %></li>
    <li>Last Name: <%= account.last_name %></li>
    <li>Schools:
        <ul>
            <% for(var i=0; school.length > i; i++ ) { %>
            <li><%= school[i].school_name %></li>
            <% } %>
        </ul>
    </li>
    <li>Companies:
        <ul>
            <% for(var i=0; company.length > i; i++ ) { %>
            <li><%= company[i].company_name %></li>
            <% } %>
        </ul>
    </li>
    <li>Skills:
        <ul>
            <% for(var i=0; skill.length > i; i++ ) { %>
            <li><%= skill[i].skill_name %></li>
            <% } %>
        </ul>
    </li>

</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>