<h1>Update <%= skill.skill_name%></h1>
<form action="/skill/update" method="get">
    <input type="hidden" id="skill_id" name="skill_id" value="<%= skill.skill_id %>">

    Skill Name: <input id="skill_name" name="skill_name" type="text" size="30" maxlength="50" value="<%= skill.skill_name%>"/>

    <br />
    Description: <input id="description" name="description" type="text" size="70" maxlength="256" value="<%= skill.description%>"/>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>