<%- include("../includes/header.ejs", {title:"Skill"}); %>
<h1>Skill</h1>
<ul>
    <li>Skill Name: <%= result[0].skill_name %></li>
    <li>Description: <%= result[0].description %></li>

</ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>